.slidecontainer2 {
    text-align: right;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
}

.sliders2 {
    margin-bottom: -4px;
}

input[type=range] {
    width: 80px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 10px;
}

@supports (-moz-appearance:none) {
    input[type=range] {
        margin-bottom: -5px;
    }

    .slidecontainer2 {
        height: 28px;
    }
}