div {
    position: absolute;
    left: 580px;
}

#slider7 {
    top: 135px;
}

#slider8 {
    top: 165px;
}

#slider9 {
    top: 195px;
}
#slider10 {
    top: 225px;
}

#slider11 {
    top: 255px;
}

#slider12 {
    top: 285px;
}