<form [formGroup]="form" class="registration">
    <div class="row">
        <input name="username" class="logIn item" formControlName="username" placeholder="Username">       
        <input name="password" formControlName="password" type="password" class="logIn item" placeholder="Password">
    </div>
    <div class="row">
        <button class="button-primary item" (click)="login()">Login</button>
        <button class="button button-primary item" (click)="logout()">Logout</button>
    </div>
    <div class="row">
    <button class="button button-primary item" (click)="register()">Register</button>   
    </div>
</form>
