<div class="registration">
    <form [formGroup]="form">
        <fieldset>
            <div class="form-field">
                <input name="username" class="logIn" formControlName="username" placeholder="Username">
            </div>
            <div class="form-field">
                <input name="password" formControlName="password" type="password" class="logIn" placeholder="Password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button class="button button-primary" (click)="login()">Login</button>
        </div>
        <div class="form-buttons" style="margin-left: 20px">
            <button class="button button-primary" (click)="test()">Register</button>
        </div>
    </form>
</div>