.slidecontainer1 {    
    height: 105px;
    width: 100%;
    justify-content: center;
    align-items: center;  
}

.smallSlidecontainer1 input[type=range] {
    transform: rotate(270deg);    
    height: 5px;
    width: 85px;
    margin-bottom: -20px;
    margin-top: 50px;
    margin-left: -27px;
    margin-right: -27px;        
}

input[type=range] {
    transform: rotate(270deg);    
    height: 7px;
    width: 85px;
    margin-bottom: -20px;
    margin-top: 50px;
    margin-left: -23px;
    margin-right: -23px;        
}

@supports (-moz-appearance:none) {
    input[type=range] {
        margin-right: -28px;
    }
}
