<div>    
        <button class="button1" id="save" (click)="clickedBtn(this.name[0])">SAVE</button> 
        
        <button class="button1" id="load" (click)="chooseLoop()" *ngIf="!loopsVisible">LOAD</button>
            <select *ngIf="loopsVisible" [(ngModel)]="loop" name="loop" (change)="hideSavedLoops()" class="select">
                <option *ngFor="let loop1 of savedLoops()" [value]="loop1.value">{{ loop1.title }}</option>
            </select>

        <button class="button1" id="delete" (click)="clickedBtn(this.name[2])">DELETE</button>
</div>
