<div class="controls1">
    <div>
    
        <button class="button1" id="tempo" (click)="chooseTempo()" *ngIf="!tempoVisible">TEMPO</button>
        <select *ngIf="tempoVisible" [(ngModel)]="tempo" name="tempo" (change)="hideTempo()" class="select">
            <option *ngFor="let tempo1 of tempoScale()"  [value]="tempo1.value">{{ tempo1.title }}</option>
        </select>
        
        <button class="button1" id="volume" (click)="chooseVolume()" *ngIf="!volumeVisible">VOLUME</button>
        <select *ngIf="volumeVisible" [(ngModel)]="volume" name="volume" (change)="hideVolume()" class="select">
            <option *ngFor="let volume1 of volumeScale()"  [value]="volume1.value">{{ volume1.title }}</option>
        </select>

        <button class="button1" id="effects" (click)="chooseEffects()" *ngIf="!effectsVisible">EFFECTS</button>
        <select *ngIf="effectsVisible" [(ngModel)]="effects" name="effects" (click)="hideEffects()" class="select">
            <option *ngFor="let effects1 of effectsScale()"  [value]="effects1.value" disabled>{{ effects1.title }}</option>
        </select>
    
    </div>
    
    <div>

        <button class="button1" id="meter" (click)="chooseMeter()" *ngIf="!meterVisible">METER</button>
        <select *ngIf="meterVisible" [(ngModel)]="meter" name="meter" (click)="hideMeter()" class="select">
            <option *ngFor="let meter1 of meterScale()"  [value]="meter1.value" disabled>{{ meter1.title }}</option>
        </select>

        <button class="button1" id="mode" (click)="chooseMode()" *ngIf="!modeVisible">MODE</button>
        <select *ngIf="modeVisible" [(ngModel)]="mode" name="mode" (click)="hideMode()" class="select">
            <option *ngFor="let mode1 of modeScale()"  [value]="mode1.value" disabled>{{ mode1.title }}</option>
        </select>

        <button class="button1" id="play" (click)="play()">{{ playTitle }}</button>
        
    </div>
</div>