.registration {
    position: absolute;
    left:340px;
}
.logIn {
    width: 80px;
    margin-right: 5px;
    border-radius: 6px;
    background-color:rgb(206, 202, 202);
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid rgb(31, 49, 3);
}

::placeholder {
    color: rgb(92, 89, 89);
}

.submit {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid rgb(31, 49, 3);
    border-radius: 6px;
    width: 80px;
    background-color: rgb(248, 94, 34);
}

.submit:hover {
    background-color: rgb(202, 74, 23);
}

.container {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 700px;
    height: 310px;
    border: 3px solid black;
    border-radius: 6px;
    background-color: rgb(77, 76, 76);
    box-shadow: 3px 3px 3px #000000;
}

.screen1 {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 100px;
    width: 230px;
    border: 2px solid rgb(15, 22, 3);
    color: greenyellow;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #000000;
    
}

.screen2 {
    position: absolute;
    top: 15px;
    left: 275px;
    height: 100px;
    width: 219px;
    border: 2px solid rgb(15, 22, 3);
    color: greenyellow;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #000000;
    
}

input[type=range] {
    position: absolute;
    top: 215px;
    width: 85px;
    height: 7px;
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    box-shadow: 2px 2px 2px #000000;
    background: rgb(63, 99, 9);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px #000000;
    border: 1px solid rgb(31, 49, 3);
    height: 21px;
    width: 7px;
    border-radius: 21px;
    background: greenyellow;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  
.slidecontainer {
    position: absolute;
    top: 270px;
    left: 30px;
    transform: rotate(270deg);
}
#slider1 {
    top: 0px;
}

#slider2 {
    top: 40px;
}

#slider3 {
    top: 80px;
}

#slider4 {
    top: 120px;
}

#slider5 {
    top: 160px;
}

#slider6 {
    top: 200px;
}

.controls1 {
    position: absolute;
    top: 125px;
    left: 15px;
}

.controls2 {
    position: absolute;
    top: 275px;
    left: 15px;
}

.controls3 {
    position: absolute;
    top: 125px;
    left: 275px;
}

.button1 {
    background-color: greenyellow;
    box-shadow: 2px 2px 2px #000000;
    border: 2px solid rgb(31, 49, 3);
    border-radius: 6px;
    width: 80px;
}

.button2 {
    background-color: greenyellow;
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid rgb(31, 49, 3);
    border-radius: 6px;
    width: 28px;
    height: 28px;
}

[class*="button"]:hover {
    background-color: rgb(91, 138, 21);
}

.slidecontainer2 {
    position: absolute;
    left: 580px;
}

#slider7 {
    top: 135px;
}

#slider8 {
    top: 165px;
}

#slider9 {
    top: 195px;
}
#slider10 {
    top: 225px;
}

#slider11 {
    top: 255px;
}

#slider12 {
    top: 285px;
}
.effects {
    position: absolute;
    top: 123px;
    left: 510px;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
}