.box {
    margin:7px auto;    
    width: 90%;    
    border: 2px solid rgb(15, 22, 3);
    border-radius: 6px;
    box-shadow: 1px 1px 1px #000000;
    text-align: center;   
}

.button3 {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid rgb(31, 49, 3);
    border-radius: 2px;
    width: 11%;
    height: 16px;   
    opacity: 0.07;
    margin: 0;
    padding: 0;
}
    
.visualizer {
    margin: 5px auto;
    height: 90%;
    width: 90%;
    max-width: 210px;
}

@media (min-width: 600px) { 
    .box {
        width: 90%;
        max-width: 200px;
        height: 109px;
        margin: 0 7px;        
    }

    .visualizer {
        margin: 5px auto;
        height: 90%;
        width: 90%;      
        max-width: 240px;    
    }
 
    .row {
        height: 16px;
    }
}

@media (min-width: 992px) {
    .box {
        width: 80%;
        max-width: 250px;
        margin: auto;
    }
   
}

@supports (-moz-appearance:none) {
    .visualizer {
        margin-top: 2px;
    }

    .button3 {
        margin: 0px;
    }

    .row {
        height: 20px;
    }
}

.button3.highlited {
    opacity: 1.0;
}

#row0 .button3 {
    background-color: red;
}

#row1 .button3 {
    background-color: rgb(236, 98, 5);
}
#row2 .button3 {
    background-color: rgb(247, 190, 3);
}

#row3 .button3 {
    background-color: rgb(176, 228, 5);
}

#row4 .button3 {
    background-color: rgb(89, 233, 5);
}

#row5 .button3 {
    background-color: rgb(5, 134, 12);
}


