.box {
    margin: 7px auto;
    text-align: center;
}

.button3 {
    box-shadow: 1px 1px 1px #000000;
    border: 2px solid rgb(31, 49, 3);
    border-radius: 2px;
    width: 11%;
    height: 100%;
    opacity: 0.07;
    margin: 0;
    padding: 0;
}
    
.visualizer {
    margin: 5px auto;
    height: 90%;
    width: 90%;
    max-width: 210px;
}

@supports (-moz-appearance:none) {
    .visualizer {
        margin: 2px auto 15px;
    }
}

.row {
    height: 16px;
    margin: 0 auto;
}

@media (min-width: 600px) { 
    .box {
        margin: auto;
        height: 110px;
    }
    .visualizer {  
        max-width: 240px; 
        height: 90%;   
    } 
    @supports (-moz-appearance:none) {
        .visualizer {
            margin: 0 auto;
        }
    }
}

.button3.highlited {
    opacity: 1.0;
}

#row0 .button3 {
    background-color: red;
}

#row1 .button3 {
    background-color: rgb(236, 98, 5);
}
#row2 .button3 {
    background-color: rgb(247, 190, 3);
}

#row3 .button3 {
    background-color: rgb(176, 228, 5);
}

#row4 .button3 {
    background-color: rgb(89, 233, 5);
}

#row5 .button3 {
    background-color: rgb(5, 134, 12);
}


