<div class="box" fxHide.sm>
    <div class="entry">Tempo: {{ selectedTempo }}</div>
    <div class="entry">Volume: {{ selectedVolume | number:'1.0' }}</div>
    <div class="entry">Meter: {{ selectedMeter }}</div>
    <div class="entry">Mode: {{ selectedMode }}</div>
    <div class="entry">Loop: {{ selectedLoop }}</div>
</div>

<div class="smallBox" fxHide fxHide.sm="false">
    <div class="entry">Tempo: {{ selectedTempo }}</div>
    <div class="entry">Volume: {{ selectedVolume | number:'1.0' }}</div>
    <div class="entry">Meter: {{ selectedMeter }}</div>
    <div class="entry">Mode: {{ selectedMode }}</div>
    <div class="entry">Loop: {{ selectedLoop }}</div>
</div>