.box {
    margin: auto;
}

.textField {
    margin: 5px auto;
    height: 90%;
}

.entry {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: gainsboro;
    border: 1px solid  rgb(15, 22, 3);
    border-radius: 4px;
    box-shadow: 3px 2px;
    width: 70%;
    margin: 4px auto;
    opacity: 0.7;
}

@media (min-width: 600px) {
    .box {
        height: 110px;
    }
    .textField {
        margin: auto;
    }
    .entry {
        margin-bottom: 3px;
    }
    @supports (-moz-appearance:none) {
        .box {
            margin: 0 auto;
        }
    }
}

@media (min-width: 992px) {
    .entry {
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 2px;
    }
    @supports (-moz-appearance:none) {
        .entry {
            font-size: 12px;
        }
    }
}