body {
  background-color: rgb(33, 36, 36);
}

.container {
  margin: 0 auto;
  width: 284px;
  border: 5px solid black;
  box-shadow: 10px 10px 50px black;
  background-color: rgb(77, 76, 76);
  border-radius: 6px;
  padding: 10px;
}

.left {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  width: 100%;
}

.middle {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  width: 100%;
}

.right {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    width: 100%;
    max-width: 600px;
  }
  .left {
    width: 30%;
    max-width: 200px;
  }
  .middle {
    width: 35%;
    max-width: 250px;
  }
  .right {
    margin-top: 120px;
    width: 25%;
    max-width: 150px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }  
  .left {
    max-width: 250px;
  }
  .middle {
    width: 40%;
    max-width: 310px;
  }
  .right {
    margin-top: 120px;
    width: 30%;
    max-width: 220px;
  }
}

.button1 {
  background-color: greenyellow;
  box-shadow: 2px 2px 2px #000000;
  border: 2px solid rgb(31, 49, 3);
  border-radius: 6px;
  font-family: sans-serif;
}

.box {
  border: 2px solid rgb(15, 22, 3);
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000;
  width: 90%;
}
.button1Selected {
  background-color:  rgb(91, 138, 21);
  box-shadow: 2px 2px 2px #000000;
  border: 2px solid rgb(31, 49, 3);
  border-radius: 6px;
}

[class^="button"]:hover {
  background-color: rgb(91, 138, 21);
}

.select {
  border-radius: 6px;
}

input[type=range] {
  -webkit-appearance: none;
} 

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  box-shadow: 2px 2px 2px #000000;
  background: rgb(63, 99, 9);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid rgb(31, 49, 3);
  height: 21px;
  width: 7px;
  border-radius: 21px;
  background: greenyellow;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-moz-range-track {
  height: 7px;
  box-shadow: 1px 1px 1px #000000;
  background: rgb(63, 99, 9);
  border-radius: 3px;
  border: 0.2px solid #010101;
  width: 80px;  
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 0.2px solid rgb(31, 49, 3);
  height: 21px;
  width: 5px;
  border-radius: 21px;
  background: greenyellow;
  -webkit-appearance: none;
  margin-top: -15px;
}
