body {
  background-color: rgb(33, 36, 36);
}

.register {
text-align: center;
}

.container {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  border: 3px solid black;
  background-color: rgb(77, 76, 76);
  border-radius: 6px;
  padding: 10px;
}

.flex {
display: flex;
margin: 2rem;
}

.left {
justify-content: left;
margin-right: 10px;
}

.middle {
margin-right: 10px;
}

.right {
margin-top: 120px;
justify-content: right;
}

.button1 {
  background-color: greenyellow;
  box-shadow: 2px 2px 2px #000000;
  border: 2px solid rgb(31, 49, 3);
  border-radius: 6px;
  width: 80px;
}

.button1Selected {
  background-color:  rgb(91, 138, 21);
  box-shadow: 2px 2px 2px #000000;
  border: 2px solid rgb(31, 49, 3);
  border-radius: 6px;
  width: 80px;
}

.button2 {
  background-color: greenyellow;
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid rgb(31, 49, 3);
  border-radius: 6px;
  width: 28px;
  height: 28px;
}

.button2Selected {
  background-color: rgb(202, 74, 23);
  box-shadow: 1px 1px 1px #000000;
  border: 3px solid rgb(31, 49, 3);
  border-radius: 6px;
  width: 28px;
  height: 28px;
}

[class^="button"]:hover {
  background-color: rgb(91, 138, 21);
}

.select {
  width: 80px;
  border-radius: 6px;
}


input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  box-shadow: 2px 2px 2px #000000;
  background: rgb(63, 99, 9);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid rgb(31, 49, 3);
  height: 21px;
  width: 7px;
  border-radius: 21px;
  background: greenyellow;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-moz-range-track {
  height: 7px;
  box-shadow: 1px 1px 1px #000000;
  background: rgb(63, 99, 9);
  border-radius: 3px;
  border: 0.2px solid #010101;
  width: 80px;
  
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 0.2px solid rgb(31, 49, 3);
  height: 21px;
  width: 5px;
  border-radius: 21px;
  background: greenyellow;
  -webkit-appearance: none;
  margin-top: -15px;
}

input[type=range]::-ms-track {
height: 7px;
background: transparent;
border-color: transparent;
border-width: 6px 0;
border-radius: 2px;
color: transparent;
}

input[type=range]::-ms-thumb {
border: 1px solid black;
height: 17px;
width: 7px;
border-radius: 21px;
background: greenyellow; 
}

input[type=range]::-ms-fill-lower {
background: rgb(63, 99, 9);
border: 0.2px solid #010101;
border-radius: 2px;
}

input[type=range]::-ms-fill-upper {
background: rgb(63, 99, 9);
border: 0.2px solid #010101;
border-radius: 2px;
}
